@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply box-border;
}

.tabNav {
	@apply py-2 text-center border-b-[2px] mb-[0.75px] transition-all px-4 font-medium duration-300;
}

.tabNav_active {
	@apply border-b-[#2870bd] text-[#edeef0] ;
}

.tabNav_inactive {
	@apply border-transparent hover:border-[#484848]  active:text-white text-[#f1f7feb5];
}

.radix-themes {
	--cursor-button: pointer;
	--cursor-checkbox: pointer;
	--cursor-disabled: default;
	--cursor-link: pointer;
	--cursor-menu-item: pointer;
	--cursor-radio: pointer;
	--cursor-slider-thumb: grab;
	--cursor-slider-thumb-active: grabbing;
	--cursor-switch: pointer;
}